<h1>Api call</h1>


<div>
    <select [(ngModel)]="name" (change)="getresponse($event.target.value)">

        <option value="books">books</option>
        <option value="houses">houses</option>
        <option value="characters">characters</option>

    </select><br>
</div>


<div class="container" *ngIf='books'>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div *ngFor="let item of apidata" [ngClass]="'book'">
                    <p>
                        Name: {{item.name}}<br>
                        isbn: {{item.isbn}}<br>
                        country: {{item.country}}<br>
                        released: {{item.released}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


<div class="container" *ngIf='houses'>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div *ngFor="let item of apidata" [ngClass]="'house'">
                    <p>Name: {{item.name}}</p>
                    <p>region: {{item.region}}</p>
                    <p>coatOfArms: {{item.coatOfArms}}</p>
                </div>
            </div>
        </div>

    </div>
</div>


<br>

<div class="container" *ngIf='characters'>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div *ngFor="let item of apidata" [ngClass]="'characters'">
                    <p>Name: {{item.name}}</p>
                    <p>gender: {{item.gender}}</p>
                    <p>allegiances: {{item.allegiances}}</p>
                </div>
            </div>
        </div>

    </div>
</div>




<button (click)=" getresponse('books')" value="books">books</button>
<button (click)=" getresponse('houses')" value="houses">houses</button>
<button (click)=" getresponse('characters')" value="characters">characters</button>



<br><br>

<select id="sel" onchange="">
    <option value="1" selected>Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>


<h2>ngIf</h2>











